.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.main {
  grid-column: 3 / span 8;
  grid-row: 1 / span 2;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.profile-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.profile-full-width {
  width: 100%;
}

/* Mobile */

@media screen and (max-width: 600px) {
  .main {
    grid-column: 1 / span 12;
    grid-row: 1;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
}
